# 最終課題

Kaggle Username: ysmith1hitu

In [1]:
import pandas as pd
import seaborn as sns

In [5]:
df = pd.read_csv("ainyuumon2021winter/train.csv", index_col=0)
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
ID,,,,,,,,,
3401,Bachelors,2018,Bangalore,3,41,Male,No,4,1
1463,Bachelors,2012,Bangalore,3,27,Male,No,5,0
4644,Bachelors,2013,Bangalore,3,31,Female,No,5,0
3303,Bachelors,2016,Bangalore,1,39,Male,No,2,0
1260,Bachelors,2014,Pune,3,26,Male,No,4,0
...,...,...,...,...,...,...,...,...,...
1149,Bachelors,2013,New Delhi,2,25,Female,No,3,1
3579,Masters,2015,New Delhi,3,39,Female,No,2,0
3600,Bachelors,2015,Pune,2,32,Female,No,3,1
2308,Bachelors,2015,Bangalore,3,27,Male,No,5,0
2438,Bachelors,2014,Bangalore,3,27,Male,No,5,0

In [40]:
def preprocess(_df):
    x = _df[["PaymentTier", "Age", "ExperienceInCurrentDomain"]]
    education = pd.get_dummies(_df["Education"], drop_first=True, prefix="Education")
    city = pd.get_dummies(_df["City"], drop_first=True, prefix="City")
    gender = pd.get_dummies(_df["Gender"], drop_first=True, prefix="Gender")
    elapsed = (_df["JoiningYear"] - _df["JoiningYear"].max()) * -1
    elapsed.name = "ElapsedYears"
    x = pd.concat([x, education, city, gender, elapsed], axis=1)
    return x

In [41]:
Y = df["LeaveOrNot"]
X = preprocess(df)
X

,PaymentTier,Age,ExperienceInCurrentDomain,Education_Masters,Education_PHD,City_New Delhi,City_Pune,Gender_Male,ElapsedYears
ID,,,,,,,,,
3401,3,41,4,0,0,0,0,1,0
1463,3,27,5,0,0,0,0,1,6
4644,3,31,5,0,0,0,0,0,5
3303,1,39,2,0,0,0,0,1,2
1260,3,26,4,0,0,0,1,1,4
...,...,...,...,...,...,...,...,...,...
1149,2,25,3,0,0,1,0,0,5
3579,3,39,2,1,0,1,0,0,3
3600,2,32,3,0,0,0,1,0,3
2308,3,27,5,0,0,0,0,1,3
2438,3,27,5,0,0,0,0,1,4

In [72]:
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PowerTransformer
from sklearn.svm import SVR

In [136]:
models = []

In [137]:
# X_train, X_test, Y_train, Y_test = train_test_split(X, Y)
#
# trans = PowerTransformer()
# trans.fit(X_train)


# 1回目: GridSearch でモデル作成
# gs = GridSearchCV(
#     estimator=SVR(),
#     param_grid={
#         "C": [0.001, 0.01, 0.1, 1, 10, 100],
#         "gamma": [0.001, 0.01, 0.1, 1, 10, 100],
#     },
#     cv=5
# )
# gs.fit(trans.transform(X_train), Y_train)
#
# print(gs.best_score_)
# print(gs.best_params_)
# print(gs.score(trans.transform(X_test), Y_test))

# 2回目: ロジスティック回帰でモデル作成 → 期限内に提出
# model = LogisticRegression()
# model.fit(trans.transform(X_train), Y_train)

# 以降 締め切り後提出
# 3回目: 決定木分析
# model = DecisionTreeClassifier(criterion="entropy", max_depth=15)
# model.fit(trans.transform(X_train), Y_train)

# 4~6回目: ランダムフォレスト * 100
for i in range(100):
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

    trans = PowerTransformer()
    trans.fit(X_train)
    model = RandomForestClassifier()
    model.fit(trans.transform(X_train), Y_train)

    print(f"-------------")
    print(f"model: {i}")
    print(f"train: {model.score(trans.transform(X_train), Y_train)}")
    print(f"test: {model.score(trans.transform(X_test), Y_test)}")
    models.append((model, model.score(trans.transform(X), Y), trans))

-------------
model: 0
train: 0.9438775510204082
test: 0.8321428571428572
-------------
model: 1
train: 0.9438775510204082
test: 0.830952380952381
-------------
model: 2
train: 0.9448979591836735
test: 0.8261904761904761
-------------
model: 3
train: 0.9413265306122449
test: 0.8297619047619048
-------------
model: 4
train: 0.9387755102040817
test: 0.8357142857142857
-------------
model: 5
train: 0.9377551020408164
test: 0.8476190476190476
-------------
model: 6
train: 0.9418367346938775
test: 0.8261904761904761
-------------
model: 7
train: 0.935204081632653
test: 0.8476190476190476
-------------
model: 8
train: 0.9423469387755102
test: 0.8142857142857143
-------------
model: 9
train: 0.9403061224489796
test: 0.8214285714285714
-------------
model: 10
train: 0.9403061224489796
test: 0.8321428571428572
-------------
model: 11
train: 0.9443877551020409
test: 0.8416666666666667
-------------
model: 12
train: 0.9413265306122449
test: 0.8369047619047619
-------------
model: 13
train: 0.936734693877551
test: 0.8297619047619048
-------------
model: 14
train: 0.9413265306122449
test: 0.8476190476190476
-------------
model: 15
train: 0.9418367346938775
test: 0.844047619047619
-------------
model: 16
train: 0.9469387755102041
test: 0.8273809523809523
-------------
model: 17
train: 0.9433673469387756
test: 0.8321428571428572
-------------
model: 18
train: 0.9372448979591836
test: 0.8452380952380952
-------------
model: 19
train: 0.9474489795918367
test: 0.830952380952381
-------------
model: 20
train: 0.9418367346938775
test: 0.8404761904761905
-------------
model: 21
train: 0.9403061224489796
test: 0.8226190476190476
-------------
model: 22
train: 0.9403061224489796
test: 0.8321428571428572
-------------
model: 23
train: 0.9454081632653061
test: 0.8261904761904761
-------------
model: 24
train: 0.9474489795918367
test: 0.8428571428571429
-------------
model: 25
train: 0.9423469387755102
test: 0.8345238095238096
-------------
model: 26
train: 0.9408163265306122
test: 0.8452380952380952
-------------
model: 27
train: 0.9341836734693878
test: 0.844047619047619
-------------
model: 28
train: 0.9433673469387756
test: 0.819047619047619
-------------
model: 29
train: 0.9428571428571428
test: 0.8333333333333334
-------------
model: 30
train: 0.9403061224489796
test: 0.8333333333333334
-------------
model: 31
train: 0.9438775510204082
test: 0.8261904761904761
-------------
model: 32
train: 0.9423469387755102
test: 0.844047619047619
-------------
model: 33
train: 0.938265306122449
test: 0.8380952380952381
-------------
model: 34
train: 0.9454081632653061
test: 0.8297619047619048
-------------
model: 35
train: 0.938265306122449
test: 0.8452380952380952
-------------
model: 36
train: 0.9423469387755102
test: 0.8285714285714286
-------------
model: 37
train: 0.9413265306122449
test: 0.8285714285714286
-------------
model: 38
train: 0.9443877551020409
test: 0.8369047619047619
-------------
model: 39
train: 0.9443877551020409
test: 0.8130952380952381
-------------
model: 40
train: 0.9459183673469388
test: 0.8369047619047619
-------------
model: 41
train: 0.9443877551020409
test: 0.8380952380952381
-------------
model: 42
train: 0.9408163265306122
test: 0.8380952380952381
-------------
model: 43
train: 0.939795918367347
test: 0.8333333333333334
-------------
model: 44
train: 0.938265306122449
test: 0.8261904761904761
-------------
model: 45
train: 0.9459183673469388
test: 0.8107142857142857
-------------
model: 46
train: 0.939795918367347
test: 0.830952380952381
-------------
model: 47
train: 0.9448979591836735
test: 0.830952380952381
-------------
model: 48
train: 0.936734693877551
test: 0.8357142857142857
-------------
model: 49
train: 0.9403061224489796
test: 0.8464285714285714
-------------
model: 50
train: 0.9454081632653061
test: 0.8321428571428572
-------------
model: 51
train: 0.9336734693877551
test: 0.85
-------------
model: 52
train: 0.939795918367347
test: 0.8452380952380952
-------------
model: 53
train: 0.9489795918367347
test: 0.8238095238095238
-------------
model: 54
train: 0.939795918367347
test: 0.844047619047619
-------------
model: 55
train: 0.9392857142857143
test: 0.8464285714285714
-------------
model: 56
train: 0.9448979591836735
test: 0.8178571428571428
-------------
model: 57
train: 0.9403061224489796
test: 0.8238095238095238
-------------
model: 58
train: 0.9372448979591836
test: 0.8416666666666667
-------------
model: 59
train: 0.9387755102040817
test: 0.8357142857142857
-------------
model: 60
train: 0.9346938775510204
test: 0.8571428571428571
-------------
model: 61
train: 0.9433673469387756
test: 0.8321428571428572
-------------
model: 62
train: 0.9433673469387756
test: 0.8273809523809523
-------------
model: 63
train: 0.9387755102040817
test: 0.8226190476190476
-------------
model: 64
train: 0.9433673469387756
test: 0.8321428571428572
-------------
model: 65
train: 0.9423469387755102
test: 0.8369047619047619
-------------
model: 66
train: 0.9413265306122449
test: 0.819047619047619
-------------
model: 67
train: 0.9418367346938775
test: 0.8357142857142857
-------------
model: 68
train: 0.9423469387755102
test: 0.8297619047619048
-------------
model: 69
train: 0.9459183673469388
test: 0.830952380952381
-------------
model: 70
train: 0.9423469387755102
test: 0.8273809523809523
-------------
model: 71
train: 0.9423469387755102
test: 0.8273809523809523
-------------
model: 72
train: 0.938265306122449
test: 0.8488095238095238
-------------
model: 73
train: 0.9438775510204082
test: 0.8261904761904761
-------------
model: 74
train: 0.938265306122449
test: 0.825
-------------
model: 75
train: 0.938265306122449
test: 0.861904761904762
-------------
model: 76
train: 0.9387755102040817
test: 0.8369047619047619
-------------
model: 77
train: 0.9377551020408164
test: 0.8607142857142858
-------------
model: 78
train: 0.9408163265306122
test: 0.8273809523809523
-------------
model: 79
train: 0.9377551020408164
test: 0.8583333333333333
-------------
model: 80
train: 0.9423469387755102
test: 0.8166666666666667
-------------
model: 81
train: 0.9443877551020409
test: 0.830952380952381
-------------
model: 82
train: 0.9403061224489796
test: 0.8428571428571429
-------------
model: 83
train: 0.9408163265306122
test: 0.8321428571428572
-------------
model: 84
train: 0.935204081632653
test: 0.8392857142857143
-------------
model: 85
train: 0.9372448979591836
test: 0.8285714285714286
-------------
model: 86
train: 0.9433673469387756
test: 0.8285714285714286
-------------
model: 87
train: 0.9423469387755102
test: 0.8238095238095238
-------------
model: 88
train: 0.9387755102040817
test: 0.8452380952380952
-------------
model: 89
train: 0.9408163265306122
test: 0.8178571428571428
-------------
model: 90
train: 0.9392857142857143
test: 0.8392857142857143
-------------
model: 91
train: 0.9408163265306122
test: 0.8428571428571429
-------------
model: 92
train: 0.9408163265306122
test: 0.8416666666666667
-------------
model: 93
train: 0.9433673469387756
test: 0.8297619047619048
-------------
model: 94
train: 0.9418367346938775
test: 0.819047619047619
-------------
model: 95
train: 0.9408163265306122
test: 0.830952380952381
-------------
model: 96
train: 0.9433673469387756
test: 0.8357142857142857
-------------
model: 97
train: 0.9423469387755102
test: 0.8428571428571429
-------------
model: 98
train: 0.9469387755102041
test: 0.8297619047619048
-------------
model: 99
train: 0.9433673469387756
test: 0.8130952380952381

In [138]:
i, (best_model, score, trans) = max(enumerate(models), key=lambda pair: pair[1][1])
print(f"model: {i}")
print(f"score: {score}")
model = best_model

model: 24
score: 0.9160714285714285

In [139]:
df_test = pd.read_csv("ainyuumon2021winter/test.csv")
df_test

,ID,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain
0,3189,Bachelors,2015,New Delhi,3,40,Male,No,2
1,4016,PHD,2018,New Delhi,3,34,Male,No,0
2,2830,Bachelors,2014,Bangalore,3,27,Male,Yes,5
3,2239,Bachelors,2013,New Delhi,3,27,Male,No,5
4,1047,Bachelors,2012,Bangalore,3,28,Male,No,1
...,...,...,...,...,...,...,...,...,...
1848,2241,Masters,2017,New Delhi,2,28,Male,No,1
1849,2769,Masters,2013,New Delhi,2,26,Male,No,4
1850,3753,Masters,2017,Pune,2,39,Male,No,2
1851,4233,Bachelors,2015,New Delhi,3,33,Female,No,5
1852,2333,Masters,2017,New Delhi,2,28,Male,No,2

In [140]:
X_test = preprocess(df_test)
X_test

,PaymentTier,Age,ExperienceInCurrentDomain,Education_Masters,Education_PHD,City_New Delhi,City_Pune,Gender_Male,ElapsedYears
0,3,40,2,0,0,1,0,1,3
1,3,34,0,0,1,1,0,1,0
2,3,27,5,0,0,0,0,1,4
3,3,27,5,0,0,1,0,1,5
4,3,28,1,0,0,0,0,1,6
...,...,...,...,...,...,...,...,...,...
1848,2,28,1,1,0,1,0,1,1
1849,2,26,4,1,0,1,0,1,5
1850,2,39,2,1,0,0,1,1,1
1851,3,33,5,0,0,1,0,0,3
1852,2,28,2,1,0,1,0,1,1

In [141]:
Y_pred = model.predict(trans.transform(X_test))

In [142]:
submission = pd.concat([df_test["ID"], pd.DataFrame(Y_pred, columns=["Pred"])], axis=1)
submission

        ID  Pred
0     3189     0
1     4016     1
2     2830     0
3     2239     0
4     1047     0
...    ...   ...
1848  2241     0
1849  2769     1
1850  3753     0
1851  4233     0
1852  2333     0

[1853 rows x 2 columns]

In [143]:
submission.to_csv("submission.csv", index=False)